// @font-face {
//   font-family: 'SF Pro Display';
//   src: url('@/assets/fonts/SF-Pro-Display/SF-Pro-Display-Light.otf') format('opentype');
//   font-weight: 300;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'SF Pro Display';
//   src: url('@/assets/fonts/SF-Pro-Display/SF-Pro-Display-LightItalic.otf') format('opentype');
//   font-weight: 300;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'SF Pro Display';
//   src: url('@/assets/fonts/SF-Pro-Display/SF-Pro-Display-Regular.otf') format('opentype');
//   font-weight: 400;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'SF Pro Display';
//   src: url('@/assets/fonts/SF-Pro-Display/SF-Pro-Display-RegularItalic.otf') format('opentype');
//   font-weight: 400;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'SF Pro Display';
//   src: url('@/assets/fonts/SF-Pro-Display/SF-Pro-Display-Medium.otf') format('opentype');
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'SF Pro Display';
//   src: url('@/assets/fonts/SF-Pro-Display/SF-Pro-Display-MediumItalic.otf') format('opentype');
//   font-weight: 500;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'SF Pro Display';
//   src: url('@/assets/fonts/SF-Pro-Display/SF-Pro-Display-Semibold.otf') format('opentype');
//   font-weight: 600;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'SF Pro Display';
//   src: url('@/assets/fonts/SF-Pro-Display/SF-Pro-Display-SemiboldItalic.otf') format('opentype');
//   font-weight: 600;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'SF Pro Display';
//   src: url('@/assets/fonts/SF-Pro-Display/SF-Pro-Display-Bold.otf') format('opentype');
//   font-weight: 700;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'SF Pro Display';
//   src: url('@/assets/fonts/SF-Pro-Display/SF-Pro-Display-BoldItalic.otf') format('opentype');
//   font-weight: 700;
//   font-style: italic;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'SF Pro Display';
//   src: url('@/assets/fonts/SF-Pro-Display/SF-Pro-Display-Heavy.otf') format('opentype');
//   font-weight: 800;
//   font-style: normal;
//   font-display: swap;
// }

// @font-face {
//   font-family: 'SF Pro Display';
//   src: url('@/assets/fonts/SF-Pro-Display/SF-Pro-Display-HeavyItalic.otf') format('opentype');
//   font-weight: 800;
//   font-style: italic;
//   font-display: swap;
// }

$font-family-base:
  'SF Pro Display',
  -apple-system,
  BlinkMacSystemFont,
  'Segoe UI',
  Roboto,
  sans-serif;

html #sub-app {
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
}

body #sub-app {
  // font-family: $font-family-base;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--surface-ground);
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#sub-app {
  a {
    text-decoration: none;
  }

  // ::-webkit-scrollbar {
  //   width: 8px;
  //   height: 8px;
  // }
  // ::-webkit-scrollbar-track {
  //   background: transparent;
  // }
  // ::-webkit-scrollbar-thumb {
  //   border-radius: 4px;
  //   background: rgba(156, 163, 175, 0.5); /* gray-400 */
  // }
  // ::-webkit-scrollbar-thumb:hover {
  //   background: rgba(107, 114, 128, 0.8); /* gray-500 */
  // }

  // Hiệu ứng slide cho filter
  .filter-slide-enter-active,
  .filter-slide-leave-active {
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    max-height: 200px;
    opacity: 1;
    overflow: hidden;
  }

  .filter-slide-enter-from,
  .filter-slide-leave-to {
    max-height: 0;
    opacity: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    overflow: hidden;
  }
}

// Phải để ngoài #sub-app để ghi đè style của PrimeVue
.p-button:focus-visible,
.p-togglebutton:focus-visible {
  outline: var(--p-focus-ring-width) var(--p-focus-ring-style) var(--p-focus-ring-color) !important;
}

.p-button:focus,
.p-togglebutton:focus {
  outline: none !important;
  // outline: var(--p-focus-ring-width) var(--p-focus-ring-style) var(--p-focus-ring-color) !important;
}

.p-dialog-header {
  border-bottom: 1px solid var(--surface-border) !important;
}

.p-dialog-footer {
  border-top: 1px solid var(--surface-border) !important;
}

// Ghi đè style cho nút close của Toast
.p-toast-close-button:focus,
.p-toast-close-button:focus-visible {
  outline: none !important;
}
