html {
  height: 100%;
  font-size: 16px;
  line-height: 1.5;
}

body #sub-app {
  font-family:
    -apple-system, BlinkMacSystemFont, 'SF Pro Display', 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text-color);
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#sub-app {
  a {
    text-decoration: none;
  }

  .layout-wrapper {
    min-height: 100vh;
  }
}
