@use "./scss/variables" as *;

body {
  font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "Segoe UI",
    Roboto, Helvetica, Arial, sans-serif;
  color: $color-text !important;
  background-color: var(--color-bg) !important;
}
